<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>8.IRemoteRobModule</key>
	<string>robobo_rob_interface_module_pod.RemoteRobModuleImplementation</string>
	<key>7.IRobInterfaceModule</key>
	<string>robobo_rob_interface_module_pod.BluetoothRobInterfaceModule</string>
	<key>6.ISpeechProductionModule</key>
	<string>robobo_speech_ios.SpeechProductionModuleImplementation</string>
	<key>3.ITouchModule</key>
	<string>robobo_sensing_ios.TouchModuleImplementation</string>
	<key>4.IAccelerationModule</key>
	<string>robobo_sensing_ios.AccelerationModuleImplementation</string>
	<key>5.IOrientationModule</key>
	<string>robobo_sensing_ios.OrientationModuleImplementation</string>
	<key>2.IRos2RemoteControlModule</key>
	<string>Robobo.Ros2RemoteControlModule</string>
	<key>1.IRemoteControlModule</key>
	<string>robobo_remote_control_ios.RemoteControlModule</string>
</dict>
</plist>
